  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Find-a-Doc</a>
        @if (authService.currentUserSig()){
        <a class = "user_logged" href ="#"> Logged as {{authService.currentUserSig()?.displayName}} </a>
        }
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

              @if (authService.currentUserSig()?.role == "admin"){
                <li  class="nav-item">
                  <a routerLink="/admin-panel" routerLinkActive="active" ariaCurrentWhenActive="page">Admin Panel</a>
                </li>
              }
              <li class="nav-item">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                 ariaCurrentWhenActive="page">Home Page</a>
              </li>
              <li class="nav-item">
                <a routerLink="/doctors-list" routerLinkActive="active" ariaCurrentWhenActive="page">Our Doctors</a>
              </li>
              @if (authService.currentUserSig()){
              <li class="nav-item">
                <a routerLink="/calendar-menu" routerLinkActive="active" ariaCurrentWhenActive="page">Book Appointment</a>
              </li>
            }
              @if (authService.currentUserSig() == null){
                <li class="nav-item">
                  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</a>
                </li>

                <li class="nav-item">
                  <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                </li>
              }
              
              @if (authService.currentUserSig()){
                <li class="nav-item">
                 <a (click) = "logout()">Logout</a>
                </li>
              }
              @if (authService.currentUserSig() && authService.currentUserSig()?.role == "patient"  ){
                <li  class="shopping-basket">
                  <a routerLink="/shopping-basket" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="bi bi-basket2-fill" style="font-size: 1em"></i></a>
                </li>
              }
            </ul>
        </div>
    </div>
</nav>