.admin-panel {
    padding: 1rem;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
  }
  
  .loading {
    margin-bottom: 1rem;
    color: #5e3ccc;
    font:bold;
    
  }

  

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  button:hover {
    background-color: #5e3ccc;
    color: #fff;
    transition: all 0.3s ease;
  }


  .admin-form-overlay {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start; 
    padding: 20px; 
    z-index: 1000;
    overflow-y: auto;
    
    display: inline-block; // add this to make the container shrink to fit its content
    vertical-align: top;
    transition: all 0.7s ease;

    form {
      max-width: 400px; // Limit form width
      margin: 0 auto; // Center align the form
      background-color: #f8f9fa; // Light gray background
      border: 1px solid #dee2e6; // Border for definition
      border-radius: 8px; // Rounded corners
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow
    
      h2 {
        color: #343a40; // Dark heading color
      }
    
      .form-group {
        label {
          font-weight: 500; // Semi-bold labels
        }
    
        input {
          border-radius: 6px; // Round input corners
          &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Blue focus shadow
          }
        }
      }
    
      .btn {
        transition: all 0.2s ease;
        &:hover {
          background-color: #0056b3; // Darker hover state for button
          border-color: #004085;
        }
      }
    }
  
  
}

.ctn{
  display: flex ;
  flex-direction: row;
}