

<footer class="footer-section ">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>ul. Czarnowiejska 15, Kraków</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-telephone-fill"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-envelope"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>