.calendar-container {
  position: absolute;
  right: 1vw;
  height: 90vh;
  max-height: 90vh;
  width: 80vw;

  overflow: hidden;
}

.calendar-table {
  width: 100%;
  border-spacing: 0;
}

.time-slots {
  height: 100%;
  overflow-y: auto;
  
}

.time-cell {
  width: 40px;
  position: relative;
  padding: 0 10px;
  //border-right: 1px solid #dee2e6;
  font-size: 0.9rem;
  vertical-align: middle !important;
}
.time-label {
  position: absolute;
  top: -9px;
  right: 10px;
  background: white;
  padding: 0 4px;
}

.date-info {
  font-size: 0.9rem;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.date-number {
  font-weight: bold;
}

.appointment-count {
  color: #666;
  margin-left: 5px;
}

.calendar-cell {
  height: 35px;
  width: 30px;
  border: 2px solid #dee2e6;
  padding: 2px;
  cursor: pointer;

  &.current-day {
    background-color: rgba(52, 152, 219, 0.1);
  }
  
  &.current-time {
    border-top: 4px solid #b01b1b;
  }
}



.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.header-cell {
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin: 0;

  &.current-day {
    background-color: #3498db;
    color: white;
  }
}
tr {
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
}

.today {
  background-color: #e9f7fe;
  border: 2px solid #007bff;
}




.calendar-cell:hover {
  background-color: #eceff1;
  transition: all 0.3s ease;
}
.calendar-cell {

  &.available {
  background-color: #8ed68e;
  transition: transform 0.2s ease-in-out;
    &:hover {
      background-color: #45c845;
      transform: scale(1.05);
    }
  }

  &.exception {
  background-color: #d30000;
  transition: transform 0.2s ease-in-out;

  }
  &.scheduled {
    background-color: #006400; /* Dark green */
    color: white;
    &.follow-up {
      background-color: #FFD700 !important; /* Gold */ 
    }
    &.first {
      background-color: #192fba !important; /* Gold */ 
    }
    &.control {
      background-color: #b915a6 !important; /* Gold */ 
    }
  }

  &.completed {
    background-color: #98FB98; /* Gray/green */
  }

  &.cancelled {
    background-color: #8B0000; /* Dark red */
    color: white;
  }

  &.outdated {
    background-color: #D3D3D3; /* Light gray */
  }
  
}

.appointment-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.appointment-form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}